@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mona Sans';
  src: url('Mona-Sans.woff2') format('woff2 supports variations'),
    url('Mona-Sans.woff2') format('woff2-variations'),
    url('Mona-Sans.woff') format('woff-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Mona Sans';
}

:root {
  font-size: xx-small;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #060616;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #060616;
  }
}

@media (min-width: 320px) {
  :root {
    font-size: x-small;
  }
}
@media (min-width: 640px) {
  :root {
    font-size: smaller;
  }
}
@media (min-width: 768px) {
  :root {
    font-size: small;
  }
}
@media (min-width: 1024px) {
  :root {
    font-size: medium;
  }
}
@media (min-width: 1280px) {
  :root {
    font-size: medium;
  }
}

.text-stroke-2 {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #060616;
}
