@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mona Sans';
  src: url('Mona-Sans.woff2') format('woff2 supports variations'),
    url('Mona-Sans.woff2') format('woff2-variations'),
    url('Mona-Sans.woff') format('woff-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Mona Sans';
  color-scheme: dark;
  color: white;
  background: #060616;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #060616;
  }
} */

.text-stroke-2 {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #060616;
}
